<%
  include_javascript "underscore", "backbone", "menus/index"
%>

<div id="app">

<table id="recipe_table">
</table>

</div>

<script id="recipe_template" type="text/template">
  <td>{{name}}</td>
</script>
