<%
  #include_javascript "underscore", "backbone", "menus/index"
  include_javascript "underscore", "menu/index"
%>

<div id="app">

<table id="recipe_table">
</table>

</div>

<script id="recipe_template" type="text/template">
  <tr>
    <td><?= name ?></td>
    <td>
    <ul>
      <? for ( var i in ingredients ) { ?>
          <li><?= ingredients[i].how_much ?> <?= ingredients[i].ingredient_name ?></li>
      <? } ?>
    </ul>
    </td>
  </tr>
</script>
