<script type="text/javascript">
  var recipes = <%= raw @recipes.to_json %>;
</script>

<h1>Listing recipes</h1>

<div id="recipes">
<%= render 'recipes' %>
</div> <!-- #recipes -->

<script type="text/javascript">
  $(document).ready( function() {
    $('.pagination a').live( 'click', function( e ) {
      e.preventDefault();
      $.ajax({ 
        url: this.href,
        success: function( data ) {
          $('#site').html( data );
        }
      });
    });   
  });
</script>

<%= link_to 'New Recipe', new_recipe_path %>
