<table>
  <thead>
    <tr>
      <th></th>
      <th>Direction</th>
      <th>Order</th>
    </tr>
  </thead>
  <tbody>
    <%= form.fields_for :directions do |df| %>
    <tr class="field">
      <td> 
      <% unless df.object.new_record? %>
        <%= df.check_box :_destroy %>
      <% end %>
      </td>
      <td><%= df.text_area :text, :rows => 3 %></td>
      <td><%= df.text_field :order %></td>
    </tr>
    <% end %>
  </tbody>
</table>
