<%= form_for([@menu, @menu_ingredient]) do |f| %>
  <% if @menu_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_ingredient.errors.count, "error") %> prohibited this menu_ingredient from being saved:</h2>

      <ul>
      <% @menu_ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
