<h1>Listing menu_ingredients</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_ingredients.each do |menu_ingredient| %>
  <tr>
    <td><%= link_to 'Show', [@menu, menu_ingredient] %></td>
    <td><%= link_to 'Edit', edit_menu_menu_ingredient_path(@menu, menu_ingredient) %></td>
    <td><%= link_to 'Destroy', [@menu, menu_ingredient], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu ingredient', new_menu_menu_ingredient_path(@menu) %>
