#new_direction, #new_ingredient {
  padding: 10px;
}

#new_direction textarea {
  width: 700px;
}

#new_ingredient .how_much {
  width: 150px;
}
#new_ingredient .ingredient_name {
  width: 150px;
}
#new_ingredient .preparation {
  width: 250px;
}

table#ingredients {
  width: 100%; 
}
.operations {
  width: 10em;
  text-align: right;
}
