#new_direction, #new_ingredient {
  padding: 10px;
}

#new_direction textarea {
  width: 700px;
}

#new_ingredient .how_much {
  width: 150px;
}
#new_ingredient .ingredient_name {
  width: 150px;
}
#new_ingredient .preparation {
  width: 250px;
}

#directions, #ingredients {
  padding: 10px;
}

#ingredients .view .how_much {
  width: 400px;
}
