<h1>Listing menu_recipes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_recipes.each do |menu_recipe| %>
  <tr>
    <td><%= link_to 'Show', [@menu,menu_recipe] %></td>
    <td><%= link_to 'Edit', edit_menu_menu_recipe_path(@menu, menu_recipe) %></td>
    <td><%= link_to 'Destroy', [@menu, menu_recipe], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu recipe', new_menu_menu_recipe_path(@menu) %>
